force-app/main/default/flows/Update_Test_Account_Name_History_After_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_theDeletedTestAccountNameId</name>
        <label>Assign the DeletedTestAccountNameId</label>
        <locationX>264</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>Set_DeleteTestAccountId.DeletedTestAccountNameId__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DeleteTestAccountNameId_0_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Test Account Name History After Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Test Account Name History Before Delete</label>
    <loops>
        <name>Set_DeleteTestAccountId</name>
        <label>Set DeleteTestAccountId</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <collectionReference>Get_Test_Account_Name_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_theDeletedTestAccountNameId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Test_Name_History</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Test_Name_History</name>
        <label>Create Test Name History</label>
        <locationX>176</locationX>
        <locationY>829</locationY>
        <inputAssignments>
            <field>DeletedTestAccountNameId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>TestAccountName with ID: &apos;{!$Record.Name}&apos; was deleted.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>TestAccountNameHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Test_Account_Name_History</name>
        <label>Get Test Account Name Histories</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_DeleteTestAccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TestAccountNameId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TestAccountNameHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_DeleteTestAccountNameId_0_0</name>
        <label>Update DeleteTestAccountNameId</label>
        <locationX>264</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>Set_DeleteTestAccountId</targetReference>
        </connector>
        <inputReference>Set_DeleteTestAccountId</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Account_Name_History</targetReference>
        </connector>
        <object>TestAccountName__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
