force-app/main/default/flows/UpdateAccountNameStatusOnDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignDeletedAccount</name>
        <label>AssignDeletedAccount</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>GetTestAccountName.DeletedAccountId__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccountNameStatusOnDelete</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UpdateAccountNameStatusOnDelete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateAccountNameStatusOnDelete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTestAccountName</name>
        <label>GetTestAccountName</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDeletedAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestAccountName__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountNameStatusOnDelete</name>
        <label>UpdateTAccountName</label>
        <locationX>176</locationX>
        <locationY>493</locationY>
        <inputReference>GetTestAccountName</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTestAccountName</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
